<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REALestate Admin</title>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/lib/jQuery-3.4.1.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script defer src="/js/addUser.js"></script>
    <script defer src="/js/phoneFormat.js"></script>
    <script defer src="/js/modalPhoneFormat.js"></script>
    <script src="/js/updateUser.js"></script>
</head>

<div id="nav-placeholder"></div>
<script>
    $(function(){
      $("#nav-placeholder").load("/nav");
    });
</script>

  <body class="bodyNav">
    <div class="container">
        <div class="row flex-lg-nowrap">
          <div class="col">
            <button type="button" id="AddButton" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".add-modal-lg">
              Add User
            </button>
            <p>
              <!-- spacer -->
            </p>
            <div class="modal fade add-modal-lg" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                         <h5 class="modal-title" id="addModalLabel">Adding New User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <div class="container">
                          <div class="row flex-lg-nowrap">
                              <div class="col-lg-5">
                                  <div class="form-group">
                                    <label id="labelProfile">Name:</label>
                                    <input class="form-control" type="text" name="name" id="add-name">
                                  </div>
                                </div>
                            <div class="col-2">
                                  <!-- spacer -->
                              </div>
                              <div class="col-lg-5">
                                  <div class="form-group">
                                    <label id="labelProfile">Username:</label>
                                    <input class="form-control" type="text" name="username" id="add-username">
                                  </div>
                                </div>
                          </div>
                          <div class="row flex-lg-nowrap">
                              <div class="col-lg-5">
                                  <div class="form-group">
                                    <label id="labelProfile">Email:</label>
                                    <input class="form-control" type="text" name="email" id="add-email">
                                  </div>
                                </div>
                            <div class="col-2">
                                  <!-- spacer -->
                              </div>
                              <div class="col-lg-5">
                                  <div class="form-group">
                                    <label id="labelProfile">Phone:</label>
                                    <input class="form-control" type="text" name="phone" id="add-phone" value="">
                                  </div>
                                </div>
                          </div>
                          <div class="row flex-lg-nowrap">
                              <div class="col-lg-5">
                                <div class="form-group">
                                  <label id="labelProfile">Password:</label>
                                  <input class="form-control" type="password" name="password" id="add-password">
                                </div>
                              </div>
                            <div class="col-2">
                                  <!-- spacer -->
                              </div>
                              <div class="col-lg-5">
                                  <div class="form-group">
                                    <label id="labelProfile" for="role">Role:</label>
                                    <select class="form-control" name="role" id="add-role">
                                      <option value="" disabled selected>Choose a Role</option>
                                      <option value="User">User</option>
                                      <option value="Admin">Admin</option>
                                    </select>
                                  </div>
                                </div>
                          </div>

                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" id ="addUser" onclick="addUser()" class="btn btn-sm btn-success">Add User</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <div class="card">
                  <div id="tableDiv" class="contact-body table-responsive-lg">
                    <table class="table table-striped">
                        <thead>
                          <tr class="bg-info">
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Role</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Edit</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for(var i in users){ %>
                            <%
                              var id = escape(users[i]._id);
                              var name = escape(users[i].name);
                              var email = escape(users[i].email);
                              var username = escape(users[i].username);
                              var phone = escape(users[i].phone);
                              var role = escape(users[i].rank);
                            %>
                            <tr>
                              <th scope="row"><%= users[i]._id%></th>
                              <td><%= users[i].name%></td>
                              <td><%= users[i].rank%></td>
                              <td><%= users[i].phone%></td>
                              <td>
                                  <button type="button" id="editButton" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".edit-modal-lg" onclick="showModel('<%= name%>', '<%= username%>', '<%= email%>', '<%= phone%>', '<%= id%>', '<%= role%>')">
                                      Edit
                                  </button>
                              </td>
                          <%}%>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade edit-modal-lg" tabindex="-1" role="dialog" aria-labelledby="adminModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                         <!-- users name -->
                         <h5 class="modal-title" id="adminModalLabel">Editing: <span id="labelName"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <div class="container">
                          <div class="row flex-lg-nowrap">
                              <div class="col-lg-5">
                                  <div class="form-group">
                                    <label id="labelProfile">Name:</label>
                                    <input class="form-control" type="text" name="name" id="modelName" value="">
                                  </div>
                                </div>
                            <div class="col-2">
                                  <!-- spacer -->
                              </div>
                              <div class="col-lg-5">
                                  <div class="form-group">
                                    <label id="labelProfile">Username:</label>
                                    <input class="form-control" type="text" name="username" id="modelUsername" value="">
                                  </div>
                                </div>
                          </div>
                          <div class="row flex-lg-nowrap">
                              <div class="col-lg-5">
                                  <div class="form-group">
                                    <label id="labelProfile">Email:</label>
                                    <input class="form-control" type="text" name="email" id="modelEmail" value="">
                                  </div>
                                </div>
                            <div class="col-2">
                                  <!-- spacer -->
                              </div>
                              <div class="col-lg-5">
                                  <div class="form-group">
                                    <label id="labelProfile">Phone:</label>
                                    <input class="form-control" type="text" name="phone" id="modelPhone" value="">
                                  </div>
                                </div>
                          </div>
                          <div class="row flex-lg-nowrap">
                              <div class="col-lg-5">
                                  <div class="form-group">
                                    <label id="labelProfile">ID Number:</label>
                                    <input class="form-control" type="text" name="IDNumber" id="modelID" value="" readonly>
                                  </div>
                                </div>
                            <div class="col-2">
                                  <!-- spacer -->
                              </div>
                              <div class="col-lg-5">
                                  <div class="form-group">
                                    <label id="labelProfile" for="role">Role:</label>
                                      <select class="form-control" name = "role" id="modelRole">
                                          <option value="User">User</option>
                                          <option value="Admin">Admin</option>
                                      </select>
                                  </div>
                                </div>
                          </div>
                          <div class="row flex-lg-nowrap">
                              <div class="col-lg-5">
                                  <div class="form-group">
                                    <label id="labelProfile">Password:</label>
                                    <input class="form-control" type="password" name="password" id="modelPassword" value="">
                                  </div>
                                </div>
                            <div class="col-2">
                                  <!-- spacer -->
                              </div>
                              <div class="col-lg-5">
                                  <label id="labelProfile"></label>
                                  <label id="editModalWarning">The password field will only update if you select "Reset Password".</label>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" id ="reset" class="btn btn-sm btn-warning" onclick="resetPassword()">Reset Password</button>
                      <button type="button" id ="Delete" class="btn btn-sm btn-Danger" onclick="deleteUser()">Delete User</button>
                      <button type="button" id ="Save" class="btn btn-sm btn-success" onclick="saveChanges()">Save Changes</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
    </div>
    
  </body>

