<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/lib/jQuery-3.4.1.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
</head>

<div id="nav-placeholder"></div>
<script>
    $(function(){
      $("#nav-placeholder").load("/nav");
    });
</script>

  <body class="bodyNav">
    <div class="container">
        <div class="row flex-lg-nowrap">
          <div class="col">
            <div class="row">
              <div class="col mb-3">
                <div class="card">
                  <div id="tableDiv" class="contact-body table-responsive-lg">
                    <table class="table table-striped">
                        <thead>
                          <tr class="bg-info">
                            <th scope="col">Name</th>
                            <th scope="col">Role</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Email</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for( let i in user) { %>
                            <tr>
                              <th scope="row"><%= user[i].name%></th>
                              <td><%= user[i].rank%></td>
                              <td><%= user[i].phone%></td>
                              <td><a href="mailto:<%= user[i].email%>"><%= user[i].email%></a></td>
                            </tr>
                          <% } %>
                        </tbody>
                      </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    
  </body>