<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Itinerary Generator</title>
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/lib/jQuery-3.4.1.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj-qnkdxbjjZIlQ9mM4x4bR7L_bXXpDeU&libraries=places&v=weekly" defer></script>
  <script src="/js/requests.js"></script>
  <script src="/js/itinerary.js"></script>
  <script src="/js/mapControls.js"></script>
  <script src="/js/homepage.js"></script>
  <script src="/js/newMap.js"></script>
  <script src="/js/searchbar.js"></script>

</head>

<div id="nav-placeholder"></div>
<script>
  $(function(){
    $("#nav-placeholder").load("/nav");
  });

  $(document).ready(function (){
    const broadDropdown = $("#broad");
    const narrowDropdown = $("#narrow");
    broadDropdown.on("change", function() {
      switch(broadDropdown.val()) {
        case "services":
          narrowDropdown.html(`
                <% for(var i in services) {%>
                  <option value="<%=services[i].value%>"><%=services[i].name%></option>
                <% } %>
          `)
        break;
        case "travel":
          narrowDropdown.html(`
                <% for(var i in travel) {%>
                  <option value="<%=travel[i].value%>"><%=travel[i].name%></option>
                <% } %>
          `);
        break;
        case "entertainment":
          narrowDropdown.html(`
                <% for(var i in entertainment) {%>
                  <option value="<%=entertainment[i].value%>"><%=entertainment[i].name%></option>
                <% } %>
          `);
        break;
        case "store":
          narrowDropdown.html(`
                <% for(var i in store) {%>
                  <option value="<%=store[i].value%>"><%=store[i].name%></option>
                <% } %>
          `);
        break;
        case "general":
          narrowDropdown.html(`
                <% for(var i in general) {%>
                  <option value="<%=general[i].value%>"><%=general[i].name%></option>
                <% } %>
          `);
        break;
        case "other":
          narrowDropdown.html(`
                <% for(var i in other) {%>
                  <option value="<%=other[i].value%>"><%=other[i].name%></option>
                <% } %>
          `);
        break;
      }     
    })
  })
</script>

<body class="bodyNav bg-white">
  <div class="container-fluid">
  <div class="row">
    <div id ="HM" class="col col-lg-4">
      <div id="HC" class="card" style="max-height:100%">
        <div class="card-body">
            <div class="row" id="text-search-div-page2">
              <input id="pac-input" class="form-control" type="text-search" placeholder="Search"/>
            </div>
            <hr></hr>
            <div class="row">
              <div class="container text-center">
                <div id="dropdownFilters" class="row">
                  <select id="broad" class="form-control col">
                    <option value="services">Services</option>
                    <option value="travel">Travel</option>
                    <option value="entertainment">Entertainment</option>
                    <option value="store">Store/Food</option>
                    <option value="general">General</option>
                    <option value="other">Other</option>
                  </select>
                  <select id="narrow" class="form-control col">
                    <% for(var i in services) {%>
                      <option value="<%=services[i].value%>"><%=services[i].name%></option>
                    <% } %>
                  </select>
                  <button type="button" class="form-control btn btn-success col" id="getLocations">SEARCH</button>
                </div>
                <!---<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#filterModal">Filters</button>-->
                <div class="modal fade text-start" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalTitle" aria-hidden="true">
                  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="filterModalTitle">Filters</h5>
                        
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <!-- modal-body -->
                        <div class="container">

                          <div class="row">
                            <div class="col col-lg-5">

                            </div>
                            <div class="col" >
                              <input type="text" class="fillsearch" id="myInput" onkeyup="mySearch()" placeholder="Search" title="Type in a name"></input>

                              <hr></hr>
                              </div>

                          </div>
                          
                          <div class="row" style="height: 300px;">
                            <div class="col col-lg-5">
                            <div id="filter-list" class="list-group">
                              <nav class="nav nav-pills flex-column">
                                  <a class="nav-link" href="#services" >Services</a>
                                  <a class="nav-link" href="#travel" >Travel</a>
                                  <a class="nav-link" href="#entertainment" >Entertainment</a>
                                  <a class="nav-link" href="#store" >Store (Food)</a>
                                  <a class="nav-link" href="#general" >General Shopping</a>
                                  <a class="nav-link" href="#other" >Other</a>
                              </nav>
                            </div>
                          </div>
                          <div id="filterCOL" class="col">
                            <div data-spy="scroll" data-target="#filter-list" data-offset="0">
                              <!-- Services -->
                              <h4 id="services">Services</h4>
                              <hr>
                              <ul id="filterList1" class="list-group">
                                <% for(var i in services) {%>
                                  <li>
                                    <input type="checkbox" id="<%=services[i].value%>" name="<%=services[i].name%>" value="<%=services[i].value%>" onclick="inputType('<%=services[i].value%>', 'services')">
                                    <label for=""><%=services[i].name%></label>
                                  </li>
                                <% } %>
                              </ul>
                              <!-- Travel -->
                              <h4 id="travel">Travel</h4>
                              <hr>
                              <ul id="filterList2" class="list-group">
                                <%for(var i in travel) {%>
                                  <li>
                                    <input type="checkbox" id="<%=travel[i].value%>" name="<%=travel[i].name%>" value="<%=travel[i].value%>" onclick="inputType('<%=travel[i].value%>', 'travel')">
                                    <label for=""><%=travel[i].name%></label>
                                  </li>
                                <% } %>
                              </ul>
                              <!-- Entertainment -->
                              <h4 id="entertainment">Entertainment</h4>
                              <hr>
                              <ul id="filterList3" class="list-group">
                                <%for(var i in entertainment) {%>
                                  <li>
                                    <input type="checkbox" id="<%=entertainment[i].value%>" name="<%=entertainment[i].name%>" value="<%=entertainment[i].value%>" onclick="inputType('<%=entertainment[i].value%>', 'entertainment')">
                                    <label for=""><%=entertainment[i].name%></label>
                                  </li>
                                <% } %>
                              </ul>
                              <!-- Store (Food) -->
                              <h4 id="store">Store (Food)</h4>
                              <hr>
                              <ul id="filterList4" class="list-group">
                                <%for(var i in store) {%>
                                  <li>
                                    <input type="checkbox" id="<%=store[i].value%>" name="<%=store[i].name%>" value="<%=store[i].value%>" onclick="inputType('<%=store[i].value%>', 'store')">
                                    <label for=""><%=store[i].name%></label>
                                  </li>
                                <% } %>
                              </ul>
                              <!-- General Shopping -->
                              <h4 id="general">General Shopping</h4>
                              <hr>
                              <ul id="filterList5" class="list-group">
                                <%for(var i in general) {%>
                                  <li>
                                    <input type="checkbox" id="<%=general[i].value%>" name="<%=general[i].name%>" value="<%=general[i].value%>" onclick="inputType('<%=general[i].value%>', 'general')">
                                    <label for=""><%=general[i].name%></label>
                                  </li>
                                <% } %>
                              </ul>
                              <!-- Other -->
                              <h4 id="other">Other</h4>
                              <hr>
                              <ul id="filterList6" class="list-group">
                                <%for(var i in other) {%>
                                  <li>
                                    <input type="checkbox" id="<%=other[i].value%>" name="<%=other[i].name%>" value="<%=other[i].value%>" onclick="inputType('<%=other[i].value%>', 'other')">
                                    <label for=""><%=other[i].name%></label>
                                  </li>
                                <% } %>
                              </ul>
                            </div>
                          </div>
                          </div>
                        </div>
                      </div>
                      <!-- modal-body-end -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" onclick="clearTypes()">Clear Filters</button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="getLocations()">Add Filters</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col-9 d-flex justify-content-end">
                <div id="timeLeft" class="font-weight-bold"></div>
              </div>
            </div>
            <hr>
            <div class="overflow-auto" style="max-height: 50vh;" id="results_div">
              <ul class="list-group" style="width: 100%;">
                <li class="list-group-item list-group-item-info" style="width: 100%; height: 100%;">
                  <b>Instructions:</b><br><br>
                  <b>1.</b> Select point of interest categories using the dropdown menus above, then click search.<br><br>
                  <b>2.</b> Add locations to your itinerary by clicking the button on the map marker popups or in the list that appears here.<br><br>
                  <b>3.</b> Click the "See Itinerary" button to customize your stay at each added location and to save your trip for sharing and later retrieval!
                </li>
              </ul>
            </div>
            <div class="row absolute-bottom">
              <div class="col">
                <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target=".bd-example-modal-sm">Map Key</button>
                  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content py-2">
                        <div class="container">
                          <div class="row">
                            <div class="col d-flex justify-content-center">
                              <p>Icon Key</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <img src="http://maps.google.com/mapfiles/kml/pal4/icon47.png" alt="Trulli" width="48" height="48">
                            </div>
                            <div class="col d-flex align-items-center">
                              <p>Selected Location</p>
                            </div>
                          </div>
                          <div class="row">
                            <!-- spacer --><br>
                          </div>
                          <div class="row">
                            <div class="col">
                              <img src="https://maps.google.com/mapfiles/kml/paddle/blu-stars.png" alt="Trulli" width="48" height="48">
                            </div>
                            <div class="col d-flex align-items-center">
                              <p>Services</p>
                            </div>
                          </div>
                          <div class="row">
                            <!-- spacer --><br>
                          </div>
                          <div class="row">
                            <div class="col">
                              <img src="https://maps.google.com/mapfiles/kml/paddle/pink-stars.png" alt="Trulli" width="48" height="48">
                            </div>
                            <div class="col d-flex align-items-center">
                              <p>Travel</p>
                            </div>
                          </div>
                          <div class="row">
                            <!-- spacer --><br>
                          </div>
                          <div class="row">
                            <div class="col">
                              <img src="https://maps.google.com/mapfiles/kml/paddle/orange-stars.png" alt="Trulli" width="48" height="48">
                            </div>
                            <div class="col d-flex align-items-center">
                              <p>Entertainment</p>
                            </div>
                          </div>
                          <div class="row">
                            <!-- spacer --><br>
                          </div>
                          <div class="row">
                            <div class="col">
                              <img src="https://maps.google.com/mapfiles/kml/paddle/grn-stars.png" alt="Trulli" width="48" height="48">
                            </div>
                            <div class="col d-flex align-items-center">
                              <p>Store</p>
                            </div>
                          </div>
                          <div class="row">
                            <!-- spacer --><br>
                          </div>
                          <div class="row">
                            <div class="col">
                              <img src="https://maps.google.com/mapfiles/kml/paddle/ltblu-stars.png" alt="Trulli" width="48" height="48">
                            </div>
                            <div class="col d-flex align-items-center">
                              <p>General</p>
                            </div>
                          </div>
                          <div class="row">
                            <!-- spacer --><br>
                          </div>
                          <div class="row">
                            <div class="col">
                              <img src="https://maps.google.com/mapfiles/kml/paddle/wht-stars.png" alt="Trulli" width="48" height="48">
                            </div>
                            <div class="col d-flex align-items-center">
                              <p>Other</p>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#itineraryModal">See Itinerary</button>
              </div>
              </div>
            </div>
        </div>
      </div>
      <div id ="HM" class="col">
        <div id="map"></div>
      </div>
      <div class="modal modal-xl fade" id="itineraryModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Your Trip Itinerary</h5>
                  </div>
                <div class="modal-body" id="itineraryBody">
                  <div><b>Trip Info</b><br>
                    <div class="" id='numLocations'>You haven't added any locations yet!</div>
                    <span id='estTotalTime'></span>&nbsp; &nbsp;<span id="timeWarning" class="badge bg-danger"></span>
                    <div id='estTravelTime'></div><span id="estDistance"></span>
                  </div>
                </div>
                <div class="modal-body" style="overflow-y:scroll">
                  <div class="list-group" id="itineraryList">
                      
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="generatedCode" class="mr-auto"></div>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveItinerary()" id="generateCodeButton">Save</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
