<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REALestate Profile</title>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/lib/jQuery-3.4.1.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/passwordUpdate.js"></script>
</head>

<div id="nav-placeholder"></div>
<script>
    $(function(){
      $("#nav-placeholder").load("/nav");
    });
</script>

  <body class="bodyNav">

    <div class="container">
      <% if (user.rank === "Admin") { %>
        <h4>Editing information can be done through the <a href="/admin">admin page</a>.</h4>
      <% } else{%>
        <h4>To edit your information, please contact a site administrator.</h4>
      <%}%>
      
    <div class="row flex-lg-nowrap">
      <div class="col">
        <div class="row">
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <div class="e-profile">
                  <div class="row">
                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                      <div class="text-center text-sm-left mb-2 mb-sm-0">
                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">Welcome: <%=user.name%></h4>                        
                      </div>
                      <% if(user.rank == "Admin"){%>
                        <div class="text-center text-sm-right">
                          <span class="badge badge-dark">Admin</span>
                        </div>
                      <%}%>
                    </div>
                  </div>
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label id="labelProfile">Name</label>
                                  <input class="form-control" type="text" name="name" value="<%=user.name%>" readonly>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label id="labelProfile">Username</label>
                                  <input class="form-control" type="text" name="username" value="<%=user.username%>" readonly>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label id="labelProfile">Email</label>
                                  <input class="form-control" type="text" value="<%=user.email%>" readonly>
                                </div>
                              </div>

                              <div class="col">
                                <div class="form-group">
                                  <label id="labelProfile">Phone</label>
                                  <input class="form-control" type="text" value="<%=user.phone%>" readonly>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div classe="row">
                          <div class="col-12 ">
                            <hr class="ProfileHRClear">
                            <div class="mb-2" align="center"><b>Update Password</b></div>
                            <hr class="ProfileHR">
                            <div class="alert alert-warning" id="message" role="alert" style="display: none; text-align: center; width: 50%; margin: auto;">
                              No Errors.
                            </div>
                            <div class="row">
                              <div class="col-3">
                                <!-- spacer -->
                            </div>
                              <div class="col">
                                <div class="form-group">
                                  <label id="labelProfile">Current Password</label>
                                  <input class="form-control" id="currentPassword" type="password" placeholder="Enter your current password...">
                                </div>
                              </div>
                              <div class="col-3">
                                <!-- spacer -->
                            </div>
                            </div>
                            <div class="row">
                              <div class="col-3">
                                <!-- spacer -->
                            </div>
                              <div class="col">
                                <div class="form-group">
                                  <label id="labelProfile">New Password</label>
                                  <input class="form-control" type="password" id="newPassword" placeholder="Enter your new password...">
                                </div>
                              </div>
                              <div class="col-3">
                                <!-- spacer -->
                            </div>
                            </div>
                            <div class="row">
                              <div class="col-3">
                                <!-- spacer -->
                            </div>
                              <div class="col">
                                <div class="form-group">
                                  <label id="labelProfile">Confirm <span class="d-none d-xl-inline">Password</span></label>
                                  <input class="form-control" type="password" id="confirmPassword" placeholder="Confirm your new password..."></div>
                              </div>
                              <div class="col-3">
                                <!-- spacer -->
                            </div>
                            </div>
                            <div class="row">
                              <div class="col d-flex justify-content-center">
                                <button class="btn btn-primary" type="button" onclick="updatePassword('<%= user.id%>')">Update password</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

  </body>